.applied-jobs-container {
    padding: 20px;
  }
  
  .applied-jobs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .applied-job-card {
    background: #f4f4f4;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
    transition: all 0.2s ease-in-out;
  }
  
  .applied-job-card:hover {
    background-color: #e8e8e8;
    transform: scale(1.02);
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .card-status {
    font-size: 14px;
    color: #444;
  }
  .job-card {
    background-color: #f8f9fa; /* light gray */
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(238, 228, 228, 0);
    padding: 20px;
    margin: 15px;
    flex: 1 1 45%;
    max-width: 100%;
  }
  
  .job-title {
    font-size: 20px;
    font-weight: 700;
    color: #49ac62;
    margin-bottom: 10px;
  }
  
  .job-details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
  }
  
  /* Responsive layout for cards container */
  .jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .job-card {
      flex: 1 1 100%;
    }
  }
  