.jobseeker-list-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    
  }
  
  .center {
    text-align: center;
    padding: 20px;
  }
  
  .error {
    color: red;
  }
  
  .card-grid {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }
  
  .jobseeker-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
    width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }
  
  .job-details-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }
  
  .resume-section {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .toggle-btn {
    margin-top: 6px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
  }
  
  .status-rejected {
    color: red;
    font-weight: bold;
  }
  
  .status-applied {
    color: green;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .job-details-row {
      flex-direction: column;
    }
  
    .jobseeker-card {
      width: 100%;
    }
  }
  